<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/assets/img/avatar.png">
  <!-- ODROD updated the title -->
  <title>    
    Billboard Dashboard by Muskatweeters
  </title>
  <!-- ODROD update completed -->
  <!--     Fonts and icons     -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            <!-- ODROD updated the logo name -->
            DJ
            <!-- ODROD update completed -->
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            <!-- ODROD updated the Team name -->
            Muskatweeters
            <!-- ODROD update completed -->
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <!-- ODROD updated the href, icon and tab name -->
            <a href="./index.html">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <!-- ODROD updated the href, icon and tab name -->
            <a href="../static/team_profiles.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Team Profiles</p>
              <!-- ODROD update completed -->
            </a>
          </li>
          <li>
            <!-- ODROD updated the href, icon and tab name -->
            <a href="../static/tableau_visualization.html">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Tableau Visualization</p>
              <!-- ODROD update completed -->
            </a>
          </li>
          <li>
            <!-- ODROD updated the href, icon and tab name -->
            <a href="../static/definitions.html">
              <i class="tim-icons icon-time-alarm"></i>
              <p>Timeline & Definitions</p>
              <!-- ODROD update completed -->
            </a>
          </li>
          <li>
            <!-- ODROD updated the href, icon and tab name -->
            <a href="../static/machine_learning.html">
              <i class="tim-icons icon-atom"></i>
              <p>Machine Learning</p>
              <!-- ODROD update completed -->
            </a>
          </li>
          <li>
            <!-- ODROD updated the href, icon and tab name -->
            <a href="../static/tables.html">
              <i class="tim-icons icon-headphones"></i>
              <p>Billboard Data</p>
              <!-- ODROD update completed -->
            </a>
          </li>
          <li>
            <!-- ODROD updated the href, icon and tab name -->
            <a href="../static/project_summary.html">
              <i class="tim-icons icon-notes"></i>
              <p>Project Summary</p>
              <!-- ODROD update completed -->
            </a>
          </li>
          <li>
            <!-- ODROD added a tab for Bob -->
            <a href="../static/the_master.html">
              <i class="tim-icons icon-satisfied"></i>
              <p>The Master</p>
              <!-- ODROD update completed -->
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <!-- UMAR code deleted, ODROD commented out -->
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!-- UMAR changed id = "SearchBar" and removed placeholder -->
              <input type="text" class="form-control" value = "" autocomplete = "off" id="SearchBar">
              <!-- UMAR added id="close" for click identification in SearchBar JS file -->
              <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
            <!-- UMAR Working Search Bar -->
            <div id="SearchItemsContainer"> 
            </div>
            <!-- UMAR updates end -->
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <!-- ODROD updated the class name -->
                    <!-- <h5 class="card-category">Total Shipments</h5> -->
                    <h2 class="card-title"> <i class="tim-icons icon-sound-wave"></i>Artist's Average Attributes</h2>
                    <!-- ODROD update completed -->
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBig1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <!-- ODROD MIRI MERGES START 2020.10.17 -->
            <div class="card card-user ">
              <div class="card-body">
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <a href="javascript:void(0)">
                      <!-- <img class="avatar margin92 icon-single-02 " src="../static/assets/img/avatar.png" alt="..."> -->
                      <img class = 'margin92 mb-4'src="../static/assets/img/avatar.png" alt="...">
                      <h4 class="title" id="artistname" >
                        Artist Name
                      </h4>
                    </a>
                    <p class="description" id="artistgroup">
                      Artist Type
                    </p>
                    <p class="description" id="artistfollowers">
                        Followers
                    </p>
                  </div>
                </p>
                <div class="card-description">
                  <p id="artistfollowers"></p>
                  <!-- ODROD MIRI MERGES COMPLETE -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <!-- ODROD commented the line below and updated the class name -->
                <h3 class="card-title"><i class="tim-icons icon-chart-bar-32 text-info"></i>Billboard hits 1999 to 2019</h3>
                <!-- ODROD update completed -->
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="CountryChart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <!-- ODROD commented the line below and updated the class name -->
                <h3 class="card-title"><i class="tim-icons icon-headphones"></i> Albums & Genres </h3>
                <!-- ODROD update completed -->
              </div>
              <div class="card-body">
                <div class="chart-area" >
                  <!-- ODROD MIRI MERGES START 2020.10.17 -->
                  <h4 class="ml-2" id="yearfirstalbum">
                    First Album Released In
                  </h4>
                  <h4 class="ml-2" id="numalbums">
                    Number of Albums
                  </h4>
                  <h4 class="ml-2 mr-2" id="artistgenres">
                    Genre
                  </h4>
                  <!-- ODROD MIRI MERGES COMPLETE -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <!-- ODROD updated the class name and commented the line below-->
                <h3 class="title d-inline"> <i class="tim-icons icon-chat-33"> </i> Artist Word Cloud</h3>
                <!-- ODROD update completed -->
              </div>
              <div class="card-body ">
                <div id="my_wordcloud">
                  <div id="print_wordcloud">
                    <!-- ODROD We shall append our WordCloud here. -->
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card ">
              <div class="card-header">
                <!-- ODROD updated the class name -->
                <h3 class="card-title"> <i class="tim-icons icon-coins"> </i> Song, Genre & Top Rank</h3>
                <!-- ODROD update completed -->
              </div>
              <div class="card-body">
                <!-- ODROD table responsive for large screen -->
                <div class="table table-responsive-lg">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Song Name
                        </th>
                        <th>
                          Genre
                        </th>
                        <th>
                          Top Rank
                        </th>
                      </tr>
                    </thead>
                    <tbody id="songTable">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://billboard-top-100.herokuapp.com/" class="nav-link">
                <!-- ODROD updated the Team name -->
                Muskatweeters
                <!-- ODROD update completed -->
              </a>
            </li>
            <li class="nav-item">
              <!-- ODROD updated the Git repo details -->
              <a href="https://github.com/TheGreekGoddess/Project_3" class="nav-link">
                GitHub Repository
              <!-- ODROD update completed -->
              </a>
            </li>
            <!-- ODROD commented code -->
            <li class="nav-item">
              <!-- ODROD updated the Project Landfires details -->
              <a href="https://datavisproject2.herokuapp.com/" class="nav-link">
                Project Landfires
              <!-- ODROD update completed -->
              </a>
            </li>
            <!-- ODROD update completed -->
          </ul>
          <div class="copyright">
            <!-- ODROD updated the footer details -->
            © Made in  
            <script>
              document.write(new Date().getFullYear())
            </script> with <i class="tim-icons icon-heart-2"></i> by the 
            <a href="javascript:void(0)" target="_blank">Muskatweeters</a> for an unforgettable music experience during extraordinary times.
            <!-- ODROD update completed -->
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- UMAR Theme Color Changing Cog-->
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <!-- UMAR updates start: added mb-3 -->
        <li class="adjustments-line text-center color-change mb-3" >
          <!-- UMAR updates end -->
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
          <!-- UMAR code deleted, ODROD commented out -->
        </li>
      </ul>
    </div>
  </div>
  <!-- UMAR added d3 core library to HTML-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- UMAR updates end -->
  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="../static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <!-- AYAN adding d3-cloud.js-->
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
  <!-- ODROD adding unique artist -->
  <script src="../static/assets/demo/distinct_artists_odrod.js"></script>
  <!-- UMAR added searchBar JS in the HTML-->
  <script src="../static/assets/demo/searchbar.js"></script>
  <!-- UMAR updates end -->
  <script src="../static/assets/demo/demo.js"></script>
  
  
  <!-- ODROD updates complete -->
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // UMAR Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts()
    });
  </script>
</body>

</html>